venv
.venv
/venv
ai
ai/
/ai
schema/schema.sql
/schema/schema.sql
/__pycache__
__pycache__
__pycache__/
node_modules/
dist
dist/
build
build/
coverage
coverage/
*.log
*.log/
.env
.env/
.DS_Store
.DS_Store/
.idea
.idea/
.vscode
.vscode/
*.suo
*.suo/
*.ntvs*
*.ntvs*/
*.njsproj
*.njsproj/__pycache__/
ai/
